body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.app-header {
  text-align: center;
}

.app-header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #3b82f6;
}

.app-header p {
  margin-top: 20px; /* Ajusta el espaciado aquí */
  font-size: 1.2em;
  color: #666;
}

.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload-section {
  display: flex;
  flex-direction: column; /* Cambia a columna para disposición vertical */
  align-items: center; /* Centra los elementos horizontalmente */
  margin-bottom: 20px;
}

.upload-section input[type="file"] {
  margin: 20px 0;
  display: block; /* Asegura que se muestre como un bloque para mantener la alineación */
}

.image-preview {
  margin-top: 20px;
}

.image-preview img {
  max-width: 100%;
  border-radius: 8px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #3b82f6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block; /* Asegura que se muestre como un bloque */
  margin-top: 10px; /* Añade un margen superior para separar del input */
}

button:disabled {
  background-color: #b0c4de;
  cursor: not-allowed;
}

button:hover:enabled {
  background-color: #2563eb;
}

.result-section {
  margin-top: 20px;
}

.result-section h2 {
  margin: 0;
  font-size: 1.5em;
}

.app-footer {
  margin-top: 40px;
  font-size: 0.8em;
  color: #aaa;
}
